{% extends 'my_site/base.html' %}
{% block title %}Cont2WE{% endblock %}
{% block content %}
<div class="page-title"><h1>Psw</h1></div>
<form method="post" class="form" id="form_login_psw">
{% csrf_token %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% for field in form %}
    <div>
        <p>{{ field.label_tag }}</p>
        {% if field.help_text %}
            <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
        <p>{{ field }}</p>
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}
    <div class="menu-button button-green"><button type="submit">Logar</button></div>
</form>
{% if callback %}
<div class="menu-button button-red">
    <a href="{% url callback %}"><button>{{ callback_text }}</button></a>
</div>
{% endif %}
{% endblock %}